<div class="container">
  <h1>All tasks</h1>
  <ul class="cards">
    <% @tasks.each do |task| %>

        <p><li><%= link_to task.title, task_path(task) %></li></p>
        <div class="btn btn-success btn-sm">
          <%= link_to 'delete', task_path(task), method: :delete, :class => "btn" %>
        </div>

    <% end %>
  </ul>

  <div class="btn btn-success">
    <%= link_to 'Add a new task', new_task_path, :class => "btn" %>
  </div>
</div>
